
.mainContainer {
  text-align: right;
  display: grid;
  grid-template-areas:
    'row1 row1col2'
    'row2 row2col2'
    'row3 row3col2'
    'row4 row4col2'
    'row5 row5col2'
    'row6 row6col2';
  grid-gap: 10px 3px ;
padding-left: 1px;
grid-template-columns: 137px 159px;
margin-top: 1px;
margin-left: 1px
}
.mainContainer  div[role=button]{
  padding-right: 5px;
}

.void1 {
  grid-area: void;
  font-size: 16px;
}

.row1Data {
      grid-area: row1;
    font-size: 16px;
     background-color: #707171;
   /* width: 179px;
    height: 22px; */
    color: yellow;
}

.row2Data {
  grid-area: row2;
    font-size: 16px;
    background-color: #707171;
    height: 22px;
    color: yellow;
    /* width: 179px; */
}

.row3Data {
      grid-area: row3;
    font-size: 16px;
    background-color: #707171;
    /* width: 179px; */
    height: 22px;
    color: yellow;
}

.row4Data {
  grid-area: row4;
    font-size: 16px;
    border-bottom: solid #000;
    border-width: 1px;
    color: yellow;
    background-color: #707171;
    /* width: 179px; */
    height: 22px;
}

.row5Data {
 grid-area: row5;
    font-size: 16px;
    background-color: #fff;
    height: 22px;
    /* width: 179px; */
}

.row6Data {
  grid-area: row6;
  font-size: 16px;
  background-color: yellow;
  height: 22px;
}

.row1DataNV {
  grid-area: row1;
  font-size: 16px;
  visibility: hidden;
}

.row2DataNV {
  grid-area: row2;
  font-size: 16px;
  visibility: hidden;
}

.row3DataNV {
  grid-area: row3;
  font-size: 16px;
  visibility: hidden;
}

.row4DataNV {
  grid-area: row4;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
  visibility: hidden;
}

.row5DataNV {
  grid-area: row5;
  font-size: 16px;
  visibility: hidden;
}

.row6DataNV {
  grid-area: row6;
  font-size: 16px;
  visibility: hidden;
}

.row1col2Data {
      grid-area: row1col2;
    font-size: 16px;
    background-color: #707171;
    height: 22px;
    /* margin-left: -40px; */
    color: yellow;
    
}

.row2col2Data {
  grid-area: row2col2;
    font-size: 16px;
    background-color: #707171;
    height: 22px;
    /* margin-left: -40px; */
    color: yellow;
}

.row2col2DataNV {
  grid-area: row2col2;
  font-size: 16px;
  background-color: yellow;
  height: 22px;
  visibility: hidden;
}

.row2col2DataTotal {
  grid-area: row2col2;
    font-size: 16px;
    background-color: #707171;
    height: 22px;
    border-bottom: solid;
    border-width: 1px;
    color: yellow;

}

.row3col2Data {
  grid-area: row3col2;
    font-size: 16px;
    background-color: #707171;
    /* margin-left: -40px; */
    height: 22px;
    color: yellow;
}

.row4col2Data {
    grid-area: row4col2;
    font-size: 16px;
    border-bottom: solid #000;
    border-width: 1px;
    color: yellow;
    background-color: #707171;
    height: 22px;
    /* margin-left: -40px; */
}

.row4col2DataNB {
  grid-area: row4col2;
  font-size: 16px;
  background-color: yellow;
  height: 22px;
  visibility: hidden;
}

.row5col2Data {
 grid-area: row5col2;
    font-size: 16px;
    background-color: #fff;
    height: 22px;
}

.row6col2Data {
  grid-area: row6col2;
  font-size: 16px;
  background-color: yellow;
  height: 22px;
}

.row3col2DataNV {
  grid-area: row3col2;
  font-size: 16px;
  visibility: hidden;
}

.row4col2DataNV {
  grid-area: row4col2;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
  visibility: hidden;
}

.row5col2DataNV {
  grid-area: row5col2;
  font-size: 16px;
  visibility: hidden;
}

.row6col2DataNV {
  grid-area: row6col2;
  font-size: 16px;
  visibility: hidden;
}

.yellowBackground {
  background-color: yellow;
  height: 22px;
  margin-top: 1px
}

.yellowBackgroundTotal {
  background-color: yellow;
  height: 22px;
  border-bottom: solid;
  border-width: 1px;
}
.mainContainerThree  .row1col2Data{
  background: #000 !important;
  font-weight: bold;
}

.doubleGrid .GridRowsColumn5_mainContainer__3izy_ > .GridRowsColumn5_row1col2Data__1n2Yf{
      margin-left: -2px !important;
}

.doubleGrid >.GridRowsColumn5_mainContainer__3izy_  .GridRowsColumn5_row1col2Data__1n2Yf{
      margin-left: -2px !important;
}

.doubleGrid .GridRowsColumn5_mainContainer__3izy_  .GridRowsColumn5_row1col2Data__1n2Yf{
      margin-left: -2px !important;
}

.GridRowsColumn5_row1col2Data__1n2Yf{
  margin-left: -2px !important;
}