.topHeaderWithoutColor{
 margin: 20px;
    padding-top: 15px;
    padding-bottom: 40px;
    /* border-top: 2px solid; */
    float: left;
    width: 98%;
}
.tophr {
  display: flex;
    border-bottom: solid;
    border-width: 1px;
    border-color: #DDDCDC;
    /* padding-left: 10px; */
    background: #DDDCDC;
    color: #fff;
    z-index: 999;
    width: 100%;
    position: relative;
    border-radius: 22px;
    /* margin-left: 26px; */
    /* margin-left: 36px; */
    /* padding-left: 19px; */
    top: -22px;
}

.container {
      padding-left: 0px;
    
    /* padding: 12px; */
    padding-top: 20px;
    padding-left: 17px;
}

.mainContainer {
  display: flex;
  /* grid-template-areas: 'rowTitle cellOne cellTwo cellThree cellFour cellFive cellSix cellSeven cellEight cellNine'; */
  padding-top: 0;
  padding-left: 230px;
  /* grid-gap: 10px;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.8); */
      border-top: 1px solid;
    margin-top: 5px;
    width: 99%;
}

.mainContainer > div {
  /* padding-left: 50px;
  padding-right: 50px;
  font-size: 10px; */
};

.gridContainer3Cell {
  grid-area: cellFive;
  display: grid;
  padding: 10px;
  padding-top: 0;
  grid-template-areas:
    'threeCellTop threeCellTop threeCellTop threeCellTop'
    'threeCellLeft threeCellLeft threeCellRight threeCellRight'
    'void1 void1 void1 void1'
    'void2 void2 void2 void2'
    'void3 void3 void3 void3'
    'void4 void4 void4 void4'
    'void4 void4 void4 void4'
    'void4 void4 void4 void4'
    'dataFive dataFive dataFive dataFive';
  height: 50px;
  width: fit-content;
}

.gridContainer4Cell {
  grid-area: cellTwo;
  display: grid;
  grid-template-areas:
    'one one one one one'
    'two two three four four'
    'void1 void1 void1 void1 void1'
    'void2 void2 void2 void2 void2'
    'void3 void3 void3 void3 void3'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'dataTwo dataTwo dataTwo dataTwo dataTwo';
  padding: 10px;
  padding-top: 0;
  height: 50px;
}

.gridContainer4CellNV {
  grid-area: cellTwo;
  display: grid;
  grid-template-areas:
    'one one one one one'
    'two two three four four'
    'void1 void1 void1 void1 void1'
    'void2 void2 void2 void2 void2'
    'void3 void3 void3 void3 void3'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'dataTwo dataTwo dataTwo dataTwo dataTwo';
  padding: 10px;
  padding-top: 0;
  height: 50px;
  visibility: hidden;
}

.gridContainer4CellCellThree {
  grid-area: cellThree;
  display: grid;
  grid-template-areas:
    'onegroup2 onegroup2 onegroup2 onegroup2 onegroup2'
    'twogroup2 twogroup2 threegroup2 fourgroup2 fourgroup2'
    'void1 void1 void1 void1 void1'
    'void2 void2 void2 void2 void2'
    'void3 void3 void3 void3 void3'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'dataThree dataThree dataThree dataThree dataThree';
  padding: 10px;
  padding-top: 0;
  height: 50px;
}

.cellOneContainer {
  grid-area: cellOne;
  display: grid;
  /* grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne'; */
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.cellTwoContainer {
  grid-area: cellTwo;
  display: grid;
  /* grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne'; */
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.cellThreeContainer {
  grid-area: cellThree;
  display: grid;
  /* grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne'; */
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.cellFourContainer {
  grid-area: cellFour;
  display: grid;
  /* grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne'; */
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.cellFiveContainer {
  grid-area: cellFive;
  display: grid;
  /* grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne'; */
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.cellSixContainer {
  grid-area: cellSix;
  display: grid;
  /* grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne'; */
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.cellSevenContainer {
  grid-area: cellSeven;
  display: grid;
  /* grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne'; */
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.cellEightContainer {
  grid-area: cellEight;
  display: grid;
  /* grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne'; */
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.cellNineContainer {
  grid-area: cellNine;
  display: grid;
  /* grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne'; */
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.gridContainer2CellCell2 {
  grid-area: cellFour;
  display: grid;
  grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataFour';
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.rowTitles {
  grid-area: rowTitle;
  font-size: 16px;
  text-align: right;
}

.voidRow1 {
  grid-area: void1;
}

.voidRow2 {
  grid-area: void2;
}

.voidRow3 {
  grid-area: void3;
}

.voidRow4 {
  grid-area: void4;
}

.topCellThreeCell {
  grid-area: threeCellTop;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
  width: 300px;
}

.topCellThreeCellNV {
  grid-area: threeCellTop;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
  width: 300px;
  visibility: hidden;
}

.bottomLeftCellThreeCell {
  grid-area: threeCellLeft;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
}

.bottomLeftCellThreeCellNV {
  grid-area: threeCellLeft;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
  visibility: hidden;
}

.bottomRightCellThreeCell {
  grid-area: threeCellRight;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
}

.gridItem1Group1 {
  grid-area: one;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
}

.gridItem2Group1 {
  grid-area: two;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  border-right: none;
  text-align: center;
}

.gridItem3Group1 {
  grid-area: three;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  border-right: none;
  font-size: 16px;
  text-align: center;
}

.gridItem4Group1 {
  grid-area: four;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  font-size: 16px;
  text-align: center;
}

.gridItem1Group2 {
  grid-area: onegroup2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
}

.gridItem1Group2NV {
  grid-area: onegroup2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
  visibility: hidden;
}

.gridItem2Group2 {
  grid-area: twogroup2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  border-right: none;
  text-align: center;
}

.gridItem3Group2 {
  grid-area: threegroup2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  border-right: none;
  font-size: 16px;
  text-align: center;
}

.gridItem4Group2 {
  grid-area: fourgroup2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  font-size: 16px;
  text-align: center;
}

.topCell {
  grid-area: top;
  border: 1px solid #ddd);
  font-size: 16px;
  text-align: center;
  /*width: 100px;*/
  margin-left: 9px;
  color:#fff;
  /*background: #595959;*/
}
/* .bottomCell {
  grid-area: top;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
  width: 100px;
} */

.bottomCell {
  grid-area: bottom;

  font-size: 16px;
  text-align: center;
  /* width: 100px; */
  
  /* grid-area: top; */
  border: none;
  /* font-size: 16px;
  text-align: center; */
  width: 140px;
  text-align: right;
  padding-left: 7px;
  float: left;
}



.column1Data {
  grid-area: dataOne;
  text-align: center;
}

.column2Data {
  grid-area: dataTwo;
  text-align: center;
}

.column3Data {
  grid-area: dataThree;
  text-align: center;
}

.column4Data {
  grid-area: dataFour;
  text-align: center;
}

.column5Data {
  grid-area: dataFive;
  text-align: center;
}

.totalBottomLine {
  display: flex;
}

.btnContainer {
  padding-left: 30px;
}

.newRow {
  display: block;
}

.titleCol {
 width:180px;
  text-align: left;
}

.col1 {

  text-align: left;
}

.col2 {

  text-align: left;
}

.col3 {

  text-align: left;
}

.col4 {

  text-align: left;
}


.col5 {

  text-align: left;
}


.col6 {

  text-align: left;
}

.col7 {

  text-align: left;
}

.col8 {

  text-align: left;
}

.col9 {

  text-align: left;
}

.titleColBottomLine {
  width: 290px;
  text-align: center;
}

.col1BottomLine {

  width:168px;
  text-align: left;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.col2BottomLine {
  width:160px;
  text-align: left;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.col3BottomLine {
  width: 160px;
  text-align: left;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.col4BottomLine {
  width: 160px;
  text-align: left;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.col5BottomLine {
  width:175px;
  text-align: left;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.col6BottomLine {
  width:185px;
  text-align: left;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.col7BottomLine {
  width:185px;
  text-align: left;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.col8BottomLine {
  width:185px;
  text-align: left;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.col9BottomLine {
  width:160px;
  text-align: left;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}




.col2 {
  width:180px;
  text-align: left;
}

.col3 {
  width: 180px;
  text-align: left;
}

.col4 {
  width: 180px;
  text-align: left;
}


.col5 {
  width:180px;
  text-align: left;
}


.col6 {
  width:180px;
  text-align: left;
}

.col7 {
  width:180px;
  text-align: left;
}

.col8 {
  width:180px;
  text-align: left;
}

.col9 {
  width:180px;
  text-align: left;
}

.addNewButton{
      background-color: #fdb924;
    text-align: center;
    border-radius: 1px;
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
    width: 100px;
    height: 35px;
    border: none;
    /* padding: 17px; */
    /* font-size: 28px; */
    cursor: pointer;
}



  .submitButton{
    background-color: #5cb85c;
    text-align: center;
    border-radius: 2px;
    margin-top: 2px;
    font-size: 14px;
    color: #fff;
    width: 130px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    }
.cancelButton{
    background-color: #5cb85c;
    text-align: center;
    border-radius: 2px;
    margin-top: 2px;
    font-size: 14px;
    color: #fff;
    width: 130px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

    .modalClose {
      cursor: pointer;
      position: absolute;
      display: block;
      padding: 2px 5px;
      line-height: 20px;
      right: -10px;
      top: -10px;
      font-size: 24px;
      background: #fff;
      border-radius: 18px;
      border: 1px solid #cfcece;
    }
    .modalRow{
      width:99%;
      margin-left: 10px;
      margin-top:10px;
    }
    .modalRowLabel{
      float: left;
      width: 210px;
      text-align:right;
      padding-right:10px;
    }
    .modalRowInput{     
      width: 140px;
      display: inline-block;
    }

    .modalCheckBox{
      display: inline-block;
    }
    .modalCheckBoxLabel{
      width:100px;
    }

    .modalHeader {
      width: 100%;
      border-bottom: 1px solid grey;
      font-size: 18px;
      text-align: center;
      padding: 5px;
  }
  
  
  .modalContent {
      width: 100%;
      padding: 10px 5px;
  }
  
  .modalActions {
      margin: 20px auto 40px auto;
      width: 100%;
      padding: 10px 5px;
      text-align: center;
  }
  .modal{
    width:550px;
  }

  .gridContainer2CellNV{
    background: #a29a95;
    margin-left: 7px; 
    width:140px;
  }