.leftSide{
  width: 48%;
    float: left;
    margin-left: 2%;
    
    margin-top: 20px;
    margin-bottom: 20px;

}
.setPadding{
    padding-bottom: 40px;
}
.rightSide{
  float: left;
    width: 48%;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.singleCenter{
      width: 45%;
    margin: auto;
    float: left;
    /* padding-left: 15%; */
    margin-left: 28%;
    
    
    margin-bottom: 20px;
}
.full{
       background-color: rgb(126, 166, 215);
    float: left;
    width: 98%;
    
    margin-bottom: 0px !important;
    margin-left:  1%; 
}
.topMarginZeor{
   
}
.BottomZeor{
   
}
.mainContainerFive{
  
     display: grid;
    grid-template-areas: 'rowTitle cellOne cellTwo cellThree cellOneTwo Cell3Container';
    padding-top: 34px;
    grid-gap: 10px;
    background: #fff;
    width: 100%;


}
.four{
  padding-top: 0px;
    padding-left: 0px;
    /* padding-bottom: 20px; */
    /* border-top: 2px solid; */
    margin-left: 40px;
    margin-right: 40px;

}

.mainContainerThree{

     display: grid;
    grid-template-areas: 'rowTitle   cellThree Cell3Container';
    padding-top: 34px;
    grid-gap: 10px;
    background: #fff;
    width: 100%;


}




.totalPosition  .GroupHeader_gridContainer3Cell__3ZcIk
 .GridRowsColumn5_row1col2Data__3s8P6{
    margin-left: -19px !important;
}


.doubleGrid .GridRowsColumn5_mainContainer__2pgZK >
.GridRowsColumn5_row1col2Data__3s8P6{
    margin-left: -5px !important;
}

.doubleGrid .GridRowsColumn5_mainContainer__2pgZK >
.GridRowsColumn5_row3col2Data__32-RO{
    margin-left: -5px !important;
}

.doubleGrid .GridRowsColumn5_mainContainer__2pgZK >
.GridRowsColumn5_row2col2DataTotal__3yVbQ{
    margin-left: -5px !important;
}


.doubleGrid .GridRowsColumn3_mainContainer__fBhSo >
.GridRowsColumn3_row1col2Data__3wZ_a{
margin-left: 7px!important;
    /* width: 125%; */
}

.doubleGrid .GridRowsColumn3_mainContainer__fBhSo >
.GridRowsColumn3_row2col2DataTotal__keh4r{
    margin-left: 7px!important;
    /* width: 125%; */
}

.doubleGrid .GridRowsColumn3_mainContainer__fBhSo >
.GridRowsColumn3_row2col2Data__3iKDE{
 margin-left: 7px!important;
    /* width: 125%; */
}

.doubleGrid .GridRowsColumn3_mainContainer__fBhSo >
.GridRowsColumn3_row4col2DataNB__2CPDv{
 margin-left: 7px!important;
    /* width: 125%; */
}

.nextYearcss  .GridRowsColumn5_mainContainer__2pgZK >
 .GridRowsColumn5_row1col2Data__3s8P6 {
    margin-left: -20px !important;
}


.doubleGrid .GridRowsColumn5_mainContainer__1OyFH .GridRowsColumn5_row1col2Data__34DhI{
      margin-left: -2px !important;
}
/* 
.nextYearcss .GridRowsColumn5_mainContainer__1OyFH  .GridRowsColumn5_row1col2Data__34DhI{
      margin-left: -20px !important;
} */


.doubleGrid .GridRowsColumn5_mainContainer__1OyFH  .GridRowsColumn5_row3col2Data__17v79{
    margin-left: -2px !important;
}

.doubleGrid .GridRowsColumn3_yellowBackground__2-pcV{
    background-color: #707171;
    height: 22px;
    /* width: 116%; */
    color: yellow;
    /* padding-left: 5px; */
    margin-left: 10px;
}

/* .GridRowsColumn3_row2col2DataTotal__31L9x{
  
    
    width: 130% !important;
  }
  .GridRowsColumn3_row1col2Data__3lDR2{
    width: 130% !important;
  }
  .GridRowsColumn3_row2col2Data__3eXJd{
    width: 130% !important;
  } */