
.headerWithoutColor{
  margin: 20px;
 padding-top: 20px;
 padding-left: 0px;
 padding-bottom: 0px;
 float: left;
 width: 97%;
 margin-top: 0px;
 margin-bottom: 20px;

}
.headerWithoutColorThree{
  margin: 20px;
 padding-top: 0px;
 padding-left: 0px;
 /* margin-left: 0px; */
 padding-bottom: 0px;
 /* margin-right: 8px; */
 /* padding-right: 8%; */
 float: left;
 width: 95%;
 margin-right: 0px;
 margin-top: 0px;
margin-bottom: 40px;
}
.tophr {
font-weight: bold;
 display: flex;
 border-bottom: solid;
 border-width: 1px;
 font-size: 28px;
 border-color: #DDDCDC;
 padding-left: 10px;
 background: #DDDCDC;
 padding-top: 2px;
 text-transform: uppercase;
 line-height: 50px;
 border-radius: 25px;
 color: #000;
 position: relative;
 top: 19px;
 z-index: 1;
}

.container {
padding: 20px;
 padding-left: 0px;
 padding-right: 0px;
 padding-top: 0px;
 padding-bottom: 0px;
}
.containerThree {
 padding: 20px;
 padding-left: 0px;
 padding-right: 0px;
 padding-left: 11px;
 padding-right: 11px;
}

.mainContainer {
display: grid;
grid-template-areas: 'rowTitle cellOne cellTwo cellThree cellOneTwo Cell3Container';
padding-top: 0;
grid-gap: 25px;
background: rgb(255, 255, 255);
width: 100%;
position: relative;
top:30px;
padding-bottom: 10px;
 grid-template-columns: 270px 130px 370px 430px 130px; 
}
.mainContainerThree{

        display: grid;
 grid-template-areas: 'rowTitle cellThree Cell3Container';
 padding-top: 0;
 grid-gap: 10px;
 background: #fff;
 width: 100%;
 min-height: 200px;
 position: relative;
 top: 19px;
 padding-top: 14px;
 grid-template-columns: 130px 300px 150px;

}
.rowTitlesThree{
 grid-area: rowTitle;
 font-size: 16px;
 text-align: right;
 padding-top: 25px;
 width: 91px;
 grid-gap: 100px
}
.gridContainer3Cell {
grid-area: Cell3Container;
display: grid;
padding: 10px;
padding-top: 0;
grid-template-areas:
 'threeCellTop threeCellTop threeCellTop threeCellTop'
 'threeCellLeft threeCellLeft threeCellRight threeCellRight'
 'void1 void1 void1 void1'
 'void2 void2 void2 void2'
 'void3 void3 void3 void3'
 'void4 void4 void4 void4'
 'void4 void4 void4 void4'
 'void4 void4 void4 void4'
 'dataFive dataFive dataFive dataFive';
height: 50px;
width: fit-content;
grid-template-columns: 70px 70px ;
}

.gridContainer4Cell {
grid-area: cellTwo;
display: grid;
grid-template-areas:
 'one one one one one'
 'two two three four four'
 'void1 void1 void1 void1 void1'
 'void2 void2 void2 void2 void2'
 'void3 void3 void3 void3 void3'
 'void4 void4 void4 void4 void4'
 'void4 void4 void4 void4 void4'
 'void4 void4 void4 void4 void4'
 'dataTwo dataTwo dataTwo dataTwo dataTwo';
padding: 10px;
padding-top: 0;
height: 50px;
grid-template-columns: 70px 70px 140px 70px 0px;
}

.gridContainer4CellNV {
grid-area: cellTwo;
display: grid;
grid-template-areas:
 'one one one one one'
 'two two three four four'
 'void1 void1 void1 void1 void1'
 'void2 void2 void2 void2 void2'
 'void3 void3 void3 void3 void3'
 'void4 void4 void4 void4 void4'
 'void4 void4 void4 void4 void4'
 'void4 void4 void4 void4 void4'
 'dataTwo dataTwo dataTwo dataTwo dataTwo';
padding: 10px;
padding-top: 0;
height: 50px;
visibility: hidden;
}

.gridContainer4CellCellThree {
grid-area: cellThree;
display: grid;
grid-template-areas:
 'onegroup2 onegroup2 onegroup2 onegroup2 onegroup2'
 'twogroup2 twogroup2 threegroup2 fourgroup2 fourgroup2'
 'void1 void1 void1 void1 void1'
 'void2 void2 void2 void2 void2'
 'void3 void3 void3 void3 void3'
 'void4 void4 void4 void4 void4'
 'void4 void4 void4 void4 void4'
 'void4 void4 void4 void4 void4'
 'dataThree dataThree dataThree dataThree dataThree';
padding: 10px;
padding-top: 0;
height: 50px;
grid-template-columns: 70px 70px 140px 70px 70px;
}

.gridContainer2Cell {
grid-area: cellOne;
display: grid;
grid-template-areas:
 'top'
 'bottom'
 'void1'
 'void2'
 'void3'
 'void4'
 'void4'
 'void4'
 'dataOne';
padding: 10px;
padding-top: 0;
max-width: 0px;
height: 50px;
}

.gridContainer2CellNV {
grid-area: cellOne;
display: grid;
grid-template-areas:
 'top'
 'bottom'
 'void1'
 'void2'
 'void3'
 'void4'
 'void4'
 'void4'
 'dataOne';
padding: 10px;
padding-top: 0;
max-width: 100px;
height: 50px;
visibility: hidden;
}

.gridContainer2CellCell2 {
grid-area: cellOneTwo;
display: grid;
grid-template-areas:
 'top'
 'bottom'
 'void1'
 'void2'
 'void3'
 'void4'
 'void4'
 'void4'
 'dataFour';
padding: 10px;
padding-top: 0;
max-width: 0px;
height: 50px;
grid-template-columns: 70px;
}

.gridContainer2CellCell2NV {
grid-area: cellOneTwo;
display: grid;
grid-template-areas:
 'top'
 'bottom'
 'void1'
 'void2'
 'void3'
 'void4'
 'void4'
 'void4'
 'dataFour';
padding: 10px;
padding-top: 0;
max-width: 100px;
height: 50px;
visibility: hidden;
}

.rowTitles {
grid-area: rowTitle;
font-size: 16px;
text-align: right;
padding-top: 50px;
width: 300px;

}

.voidRow1 {
grid-area: void1;
}

.voidRow2 {
grid-area: void2;
}

.voidRow3 {
grid-area: void3;
}

.voidRow4 {
grid-area: void4;
}

.topCellThreeCell {
grid-area: threeCellTop;
 border: 1px solid #fff;
 font-size: 16px;
 text-align: center;
 width: 300px;
 font-weight: bold;
 text-transform: uppercase;
 color: #fff;
 background: #595959;
}

.topCellThreeCellNV {
grid-area: threeCellTop;
border: 1px solid rgba(0, 0, 0, 0.8);
font-size: 16px;
text-align: center;
width: 300px;
visibility: hidden;
color: #fff;
background: #595959;
}

.bottomLeftCellThreeCell {
   grid-area: threeCellLeft;
 border: 1px solid #fff;
 font-size: 16px;
 text-align: center;
 color: #fff;
 border-bottom: none;
 background: #A29A95;
}

.bottomLeftCellThreeCellNV {
grid-area: threeCellLeft;
border: 1px solid rgba(0, 0, 0, 0.8);
font-size: 16px;
text-align: center;
visibility: hidden;
color: #fff;
background: #595959;
}

.bottomRightCellThreeCell {
grid-area: threeCellRight;
 border: 1px solid #fff;
 font-size: 16px;
 text-align: center;
 color: #fff;
 background: #A29A95;
 border-bottom: none;
}

.gridItem1Group1 {
grid-area: one;
 border: 1px solid #fff;
 font-size: 16px;
 text-align: center;
 color: #fff;
 font-weight: bold;
 background: #595959;
 text-transform: uppercase;
 border-right: 1px solid #fff;
}

.gridItem2Group1 {
grid-area: two;
 border: 1px solid #fff;
 font-size: 16px;
 /* border-right: none; */
 text-align: center;
 color: #fff;
 background: #A29A95;
 /* border-right: 1px solid #fff; */
}

.gridItem3Group1 {
  grid-area: three;
 border: 1px solid #fff;
 border-left: none;
 /* border-right: none; */
 font-size: 16px;
 text-align: center;
 color: #fff;
 background: #A29A95;
 /* border-right: 1px solid #000; */
}

.gridItem4Group1 {
grid-area: four;
 border: 1px solid #fff;
 border-left: none;
 font-size: 16px;
 text-align: center;
 color: #fff;
 background: #A29A95;
 /* border-right: 1px solid #000; */
}

.gridItem1Group2 {
grid-area: onegroup2;
 border: 1px solid #fff;
 font-size: 16px;
 text-align: center;
 color: #fff;
 font-weight: bold;
 text-transform: uppercase;
 background: #595959;
 border-right: 1px solid #fff;
}

.gridItem1Group2NV {
grid-area: onegroup2;
border: 1px solid rgba(0, 0, 0, 0.8);
font-size: 16px;
text-align: center;
visibility: hidden;
color: #fff;
background: #595959;
border-right: 1px solid #000;
}

.gridItem2Group2 {
   grid-area: twogroup2;
 border: 1px solid #fff;
 font-size: 16px;
 /* border-right: none; */
 text-align: center;
 color: #fff;
 background: #A29A95;
 /* border-right: 1px solid #000; */
 border-bottom: none;
}

.gridItem3Group2 {
grid-area: threegroup2;
 border: 1px solid #fff;
 border-left: none;
 /* border-right: none; */
 font-size: 16px;
 text-align: center;
 color: #fff;
 background: #A29A95;
 border-bottom: none;
}

.gridItem4Group2 {
grid-area: fourgroup2;
 border: 1px solid #fff;
 border-left: none;
 border-bottom: none;
 font-size: 16px;
 text-align: center;
 color: #fff;
 background: #A29A95;
 /* border-right: 1px solid #000; */
}

.topCell {
   border: 1px solid #fff;
 width: 100px;
 grid-area: top;
 font-size: 16px;
 text-align: center;
 width: 100px;
 text-transform: uppercase;
 font-weight: bold;
 color: #fff;
 background: #595959;
}

.bottomCell {
border: 1px solid #fff;
 width: 100px;
 grid-area: bottom;
 font-size: 16px;
 text-align: center;
 width: 100px;
 color: #fff;
 border-bottom: none;
 background: #A29A95;
}

.column1Data {
grid-area: dataOne;
text-align: center;
}

.column2Data {
grid-area: dataTwo;
text-align: center;
}

.column3Data {
grid-area: dataThree;
text-align: center;
}

.column4Data {
grid-area: dataFour;
text-align: center;
}

.column5Data {
grid-area: dataFive;
text-align: center;
}


.mainContainerThree .row1col2Data{
background: #fff !important;
}