
.mainContainer {
  display: flex;

  grid-gap: 10px;

}

ul {
  padding:0;
  list-style-type: none;
}

li {
  display: flex;
  list-style-type: none;
  padding-bottom: 10px;

}

.titleCol {
  width: 290px;
  text-align: left;
}

.col1 {
  width:168px;
  text-align: left;
}

.col2 {
  width:160px;
  text-align: right;
}

.col3 {
  width: 160px;
  text-align: right;
}

.col4 {
  width: 160px;
  text-align: right;
}


.col5 {
  width:175px;
  text-align: right;
}


.col6 {
  width:185px;
  text-align: right;
}

.col7 {
  width:185px;
  text-align: right;
}

.col8 {
  width:185px;
  text-align: right;
}

.col9 {
  width:95px;
  text-align: right;
}

.editBtn {
  display: flex;
  text-align: left;
}

.deleteButton{
  background-color: #d9534f;
    text-align: center;
    border-radius: 1px;
    margin-top: 4px;
    font-size: 14px;
    color: #fff;
    width: 100px;
    height: 22px;
    border: none;
    cursor: pointer;
  }
/* styles from groupheader.module.css
 */


.tophr {
  display: grid;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
}

.container {
  padding: 20px;
}

.mainContainer {
  display: grid;
  grid-template-areas: 'rowTitle cellOne cellTwo cellThree cellOneTwo Cell3Container';
  padding-top: 0;
  grid-gap: 10px;
}

.gridContainer3Cell {
  grid-area: Cell3Container;
  display: grid;
  padding: 10px;
  padding-top: 0;
  grid-template-areas:
    'threeCellTop threeCellTop threeCellTop threeCellTop'
    'threeCellLeft threeCellLeft threeCellRight threeCellRight'
    'void1 void1 void1 void1'
    'void2 void2 void2 void2'
    'void3 void3 void3 void3'
    'void4 void4 void4 void4'
    'void4 void4 void4 void4'
    'void4 void4 void4 void4'
    'dataFive dataFive dataFive dataFive';
  height: 50px;
  width: fit-content;
}

.gridContainer4Cell {
  grid-area: cellTwo;
  display: grid;
  grid-template-areas:
    'one one one one one'
    'two two three four four'
    'void1 void1 void1 void1 void1'
    'void2 void2 void2 void2 void2'
    'void3 void3 void3 void3 void3'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'dataTwo dataTwo dataTwo dataTwo dataTwo';
  padding: 10px;
  padding-top: 0;
  height: 50px;
}

.gridContainer4CellNV {
  grid-area: cellTwo;
  display: grid;
  grid-template-areas:
    'one one one one one'
    'two two three four four'
    'void1 void1 void1 void1 void1'
    'void2 void2 void2 void2 void2'
    'void3 void3 void3 void3 void3'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'dataTwo dataTwo dataTwo dataTwo dataTwo';
  padding: 10px;
  padding-top: 0;
  height: 50px;
  visibility: hidden;
}

.gridContainer4CellCellThree {
  grid-area: cellThree;
  display: grid;
  grid-template-areas:
    'onegroup2 onegroup2 onegroup2 onegroup2 onegroup2'
    'twogroup2 twogroup2 threegroup2 fourgroup2 fourgroup2'
    'void1 void1 void1 void1 void1'
    'void2 void2 void2 void2 void2'
    'void3 void3 void3 void3 void3'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'void4 void4 void4 void4 void4'
    'dataThree dataThree dataThree dataThree dataThree';
  padding: 10px;
  padding-top: 0;
  height: 50px;
}

.gridContainer2Cell {
  grid-area: cellOne;
  display: grid;
  grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne';
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.gridContainer2CellNV {
  grid-area: cellOne;
  display: grid;
  grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataOne';
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
  visibility: hidden;
}

.gridContainer2CellCell2 {
  grid-area: cellOneTwo;
  display: grid;
  grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataFour';
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
}

.gridContainer2CellCell2NV {
  grid-area: cellOneTwo;
  display: grid;
  grid-template-areas:
    'top'
    'bottom'
    'void1'
    'void2'
    'void3'
    'void4'
    'void4'
    'void4'
    'dataFour';
  padding: 10px;
  padding-top: 0;
  max-width: 100px;
  height: 50px;
  visibility: hidden;
}

.rowTitles {
  grid-area: rowTitle;
  font-size: 16px;
  text-align: right;
  padding-top: 50px;
}

.voidRow1 {
  grid-area: void1;
}

.voidRow2 {
  grid-area: void2;
}

.voidRow3 {
  grid-area: void3;
}

.voidRow4 {
  grid-area: void4;
}

.topCellThreeCell {
  grid-area: threeCellTop;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
  width: 300px;
}

.topCellThreeCellNV {
  grid-area: threeCellTop;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
  width: 300px;
  visibility: hidden;
}

.bottomLeftCellThreeCell {
  grid-area: threeCellLeft;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
}

.bottomLeftCellThreeCellNV {
  grid-area: threeCellLeft;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
  visibility: hidden;
}

.bottomRightCellThreeCell {
  grid-area: threeCellRight;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
}

.gridItem1Group1 {
  grid-area: one;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
}

.gridItem2Group1 {
  grid-area: two;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  border-right: none;
  text-align: center;
}

.gridItem3Group1 {
  grid-area: three;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  border-right: none;
  font-size: 16px;
  text-align: center;
}

.gridItem4Group1 {
  grid-area: four;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  font-size: 16px;
  text-align: center;
}

.gridItem1Group2 {
  grid-area: onegroup2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
}

.gridItem1Group2NV {
  grid-area: onegroup2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
  visibility: hidden;
}

.gridItem2Group2 {
  grid-area: twogroup2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  border-right: none;
  text-align: center;
}

.gridItem3Group2 {
  grid-area: threegroup2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  border-right: none;
  font-size: 16px;
  text-align: center;
}

.gridItem4Group2 {
  grid-area: fourgroup2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-left: none;
  font-size: 16px;
  text-align: center;
}

.topCell {
  grid-area: top;
  border: none;
  font-size: 16px;
  text-align: center;
  width: 140px;
  text-align: right;
  padding-left: 6px;
  float: left;
}

.bottomCell {
  grid-area: bottom;
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
  width: 100px;
}

.column1Data {
  grid-area: dataOne;
  text-align: center;
}

.column2Data {
  grid-area: dataTwo;
  text-align: center;
}

.column3Data {
  grid-area: dataThree;
  text-align: center;
}

.column4Data {
  grid-area: dataFour;
  text-align: center;
}

.column5Data {
  grid-area: dataFive;
  text-align: center;
}


#liaddshapes::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.paRow{
  width:1900px;
}