
.mainContainer {
  text-align: left;
  display: grid;
  grid-template-areas:
    'row1 row1col2 row1col3'
    'row2 row2col2 row2col3'
    'row3 row3col2 row3col3'
    'row4 row4col2 row4col3'
    'row5 row5col2 row5col3'
    'row6 row6col2 row6col3'
    'row7 row7col2 row7col3';
  grid-gap: 10px 0px;
  text-align: right;
/* padding-left: 13px; */
grid-template-columns: 140px 140px 70px;
}

.mainContainer  div[role=button]{
  padding-right: 5px;
}

.row1Data {
  grid-area: row1;
  font-size: 16px;
  /* width:117%; */
}

.row2Data {
  grid-area: row2;
  font-size: 16px;
  /* width:117%; */
}

.row3Data {
  grid-area: row3;
  font-size: 16px;
  /* width:117%; */
}

.row4Data {
  grid-area: row4;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
  /* width:117%; */
}

.row5Data {
  grid-area: row5;
  font-size: 16px;
  /* width:117%; */
}

.row6Data {
  grid-area: row6;
  font-size: 16px;
  /* width:117%; */
}
.row7Data {
  grid-area: row7;
  font-size: 16px;
  /* width:117%; */
}

.row1col2Data {
  grid-area: row1col2;
  font-size: 16px;
}

.row2col2Data {
  grid-area: row2col2;
  font-size: 16px;
}

.row3col2Data {
  grid-area: row3col2;
  font-size: 16px;
}

.row4col2Data {
  grid-area: row4col2;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
}

.row5col2Data {
  grid-area: row5col2;
  font-size: 16px;
  /* width: 126%; */
  /*  margin-left: 10px;*/
}

.row6col2Data {
  grid-area: row6col2;
  font-size: 16px;
  /* width: 126%; */
  /*  margin-left: 10px;*/
}
.row7col2Data {
  grid-area: row7col2;
  font-size: 16px;
  /* width: 126%; */
  /*  margin-left: 10px;*/
}

.row1col3Data {
  grid-area: row1col3;
  font-size: 16px;
}

.row2col3Data {
  grid-area: row2col3;
  font-size: 16px;
}

.row3col3Data {
  grid-area: row3col3;
  font-size: 16px;
}

.row4col3Data {
  grid-area: row4col3;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
}

.row5col3Data {
  grid-area: row5col3;
  font-size: 16px;
}

.row6col3Data {
  grid-area: row6col3;
  font-size: 16px;
}
.row7col3Data {
  grid-area: row7col3;
  font-size: 16px;
}

.greyBackground {
  background-color: none;
  height: 22px;
}

.yellowBackground {
         background-color: #707171;
    height: 22px;
    /* width: 126%; */
   /* margin-left: 11px;*/
    color: yellow;
}

.yellowBackgroundTotal {
  background-color: #707171;
    height: 22px;
    border-bottom: solid #000;
    border-width: 1px;
    /* width: 126%; */
  /*  margin-left: 11px;*/
    color: yellow;

}
