
.mainContainer {
  text-align: left;
  display: grid;
  grid-template-areas:
    'row1 row1col2 row1col3'
    'row2 row2col2 row2col3'
    'row3 row3col2 row3col3'
    'row4 row4col2 row4col3'
    'row5 row5col2 row5col3'
    'row6 row6col2 row6col3'
    'row7 row7col2 row7col3';
  grid-gap: 10px 0px;
  text-align: right;
/* padding-left: 13px; */
grid-template-columns: 140px 140px 140px;
}

.mainContainer  div[role=button]{
  padding-right: 5px;
}

.void1 {
  text-align: center;
  grid-area: void;
  font-size: 16px;
}

.row1Data {
  grid-area: row1;
  font-size: 16px;
      /* width: 115%; */
}

.row2Data {
  grid-area: row2;
  font-size: 16px;
      /* width: 115%; */
}

.row2Datatotal {
  grid-area: row2;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
  /* width:115%; */
}

.row3Data {
  grid-area: row3;
  font-size: 16px;
      /* width: 115%; */
}

.row4Data {
  grid-area: row4;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
      /* width: 115%; */
}

.row4DataNB {
  grid-area: row4;
  font-size: 16px;
  /* width: 114%; */
}

.row3DataNV {
  grid-area: row3;
  font-size: 16px;
  visibility: hidden;
}

.row3DataNB {
  grid-area: row3;
  font-size: 16px;
  /* width: 114%; */
}

.row4DataNV {
  grid-area: row4;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
  visibility: hidden;

}

.row5Data {
  grid-area: row5;
  font-size: 16px;
      /* width: 115%; */
}

.row6Data {
  grid-area: row6;
  font-size: 16px;
      /* width: 115%; */
}

.row5DataNV {
  grid-area: row5;
  font-size: 16px;
  visibility: hidden;
}

.row6DataNV {
  grid-area: row6;
  font-size: 16px;
  visibility: hidden;
}
.row7Data {
  grid-area: row7;
  font-size: 16px;
      /* width: 115%; */
}
.row7DataNV {
  grid-area: row7;
  font-size: 16px;
  visibility: hidden;
}

.row1col2Data {
  grid-area: row1col2;
  font-size: 16px;
}

.row2col2Data {
  grid-area: row2col2;
  font-size: 16px;
}

.row2col2DataTotal {
  grid-area: row2col2;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;

}

.row3col2Data {
  grid-area: row3col2;
  font-size: 16px;
}

.row3col2DataTotal {
  grid-area: row3col2;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
}

.row4col2Data {
  grid-area: row4col2;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
}

.row4col2DataNB {
  grid-area: row4col2;
  font-size: 16px;
}
.row3col2DataNV {
  grid-area: row3col2;
  font-size: 16px;
  visibility: hidden;
}

.row3col2DataNB {
  grid-area: row3col2;
  font-size: 16px;
}

.row4col2DataNV {
  grid-area: row4col2;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
  visibility: hidden;
}

.row5col2Data {
  grid-area: row5col2;
  font-size: 16px;
  /* width: 126%; */
    margin-left: 5px;
}

.row6col2Data {
  grid-area: row6col2;
  font-size: 16px;
  /* width: 126%; */
    /* margin-left: 5px; */
}

.row7col2Data {
  grid-area: row7col2;
  font-size: 16px;
  /* width: 126%; */
    /* margin-left: 5px; */
}

.row5col2DataNV {
  grid-area: row5col2;
  font-size: 16px;
  visibility: hidden;
}

.row6col2DataNV {
  grid-area: row6col2;
  font-size: 16px;
  visibility: hidden;
}

.row7col2DataNV {
  grid-area: row7col2;
  font-size: 16px;
  visibility: hidden;
}
.row1col3Data {
  grid-area: row1col3;
  font-size: 16px;
}

.row2col3Data {
  grid-area: row2col3;
  font-size: 16px;
}

.row2col3DataTotal {
  grid-area: row2col3;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
}

.row3col3Data {
  grid-area: row3col3;
  font-size: 16px;
}

.row4col3Data {
  grid-area: row4col3;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
}
.row4col3DataMod {
  grid-area: row4col3;
  font-size: 16px;
}

.row4col3DataNB {
  grid-area: row4col3;
  font-size: 16px;
}

.row3col3DataNV {
  grid-area: row3col3;
  font-size: 16px;
  visibility: hidden;
}

.row3col3DataNB {
  grid-area: row3col3;
  font-size: 16px;
}

.row4col3DataNV {
  grid-area: row4col3;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
  visibility: hidden;
}

.row5col3Data {
  grid-area: row5col3;
  font-size: 16px;
}

.row6col3Data {
  grid-area: row6col3;
  font-size: 16px;
}
.row7col3Data {
  grid-area: row7col3;
  font-size: 16px;
}

.row5col3DataNV {
  grid-area: row5col3;
  font-size: 16px;
  visibility: hidden;
}

.row6col3DataNV {
  grid-area: row6col3;
  font-size: 16px;
  visibility: hidden;
}
.row7col3DataNV {
  grid-area: row7col3;
  font-size: 16px;
  visibility: hidden;
}

.greyBackground {
  background-color: none;
  height: 22px;
}

.yellowBackground {
  background-color: #707171;
    height: 22px;
    /* width: 119%; */
    color: yellow;
    /* margin-left: 12px; */
    margin-top: 1px
}

.yellowBackgroundTotal {
      background-color: #707171;
    height: 22px;
    border-bottom: solid #000;
    border-width: 1px;
    /* width: 120%;
    margin-left: 12px; */
    color: yellow;
}

/* .GridRowsColumn3_row2col2DataTotal__31L9x{
  
    
  width: 130% !important;
}
.GridRowsColumn3_row1col2Data__3lDR2{
  width: 130% !important;
} */