
.mainContainer {
  margin-left: 10px;
  display: grid;
  grid-template-areas:
    'row1'
    'row2'
    'row3'
    'row4'
    'row5'
    'row6'
    'row7';

  /* position: relative;
  top: 70px;
  right: 85px; */
  grid-gap: 10px;
  width: 100%;
    text-align: right;
    padding-left: 0px;
}

.void1 {
  grid-area: void;
  font-size: 16px;
}

.row1Title {
  grid-area: row1;
  font-size: 16px;
  text-align: left;
}

.row2Title {
  grid-area: row2;
  font-size: 16px;
  text-align: left;
}

.row3Title {
  grid-area: row3;
  font-size: 16px;
  text-align: left;
}

.row4Title {
  grid-area: row4;
  font-size: 16px;
  text-align: left;
}

.row5Title {
  grid-area: row5;
  font-size: 16px;
  text-align: right;
}

.row6Title {
  grid-area: row6;
  font-size: 16px;
  text-align: right;
}

.row7Title {
  grid-area: row7;
  font-size: 16px;
  text-align: right;
}