/* @import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css'; */

.dashroot {
  height: 900px;
  background-color:white;
}

.Title{
  font-size: 45px;
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  font-family:Lubalin;


}
.SubTitle{
  font-size: 35px;
  text-align: center;
  margin-top: 0px;
  font-family:LubalinStd;

}
 /* style for Graycor Services block */
.GraycorServices{
  display: inline-block;
  width: 500px;
  overflow:hidden;
  height: 200px;
  margin-left: 500px; 
}
.GraycorServices:hover {
  overflow: visible;
}

.GraycorServices:hover ul{
  margin-top:-60px;
}

.GraycorServices:hover  a {
  text-decoration: none;
  color: #000;
  display: block;
  padding:10px;
  font-size: 20px;
  color:white;
  font-weight: 500;
  margin-left: 15px;
}

.GraycorServices:hover p{
  font-size: 20px;
  font-weight: bold;
  margin-left: -10px;
  color:white;
  margin-left: 2px;
}

/* Style for Graycor Constructor */
.GraycorConstructor{
  display: inline-block;
  width: 500px;
  margin:auto;
  height: 200px;
  overflow: hidden;
}



.GraycorConstructor:hover {
  overflow: visible;
}

.GraycorConstructor:hover ul{
  margin-top:-60px;
}

.GraycorConstructor:hover  a {
  text-decoration: none;
  color: #000;
  display: block;
  padding:10px;
  font-size: 20px;
  color:white;
  font-weight: 500;
  margin-left: 15px;
}

.GraycorConstructor:hover p{
  font-size: 20px;
  font-weight: bold;
  margin-left: -10px;
  color:white;
  margin-left: 2px;
}

/* 
Style for Graycor Industrial block */
.GraycorIndustrial{
  display: inline-block;
  width: 500px;
  overflow:hidden;
  height: 200px;
  margin-left: 500px; 
  z-index: 1;
}

.GraycorIndustrial:hover {
  overflow: visible;
}

.GraycorIndustrial:hover ul{
  margin-top:-60px;
}

.GraycorIndustrial:hover  a {
  text-decoration: none;
  color: #000;
  display: block;
  padding:10px;
  font-size: 20px;
  color:white;
  font-weight: 500;
  margin-left: 15px;
}

.GraycorIndustrial:hover p{
  font-size: 20px;
  font-weight: bold;
  margin-left: -10px;
  color:white;
  margin-left: 2px;
}

/* Style for Graycor Southern Inc */
.GraycorSouthern{
  display: inline-block;
  width: 500px;
  margin:auto;
  height: 200px;
  overflow: hidden;
  z-index: 1;
}

.GraycorSouthern:hover {
  overflow: visible;
}

.GraycorSouthern:hover ul{
  margin-top:-60px;
}

.GraycorSouthern:hover  a {
  text-decoration: none;
  color: #000;
  display: block;
  padding:10px;
  font-size: 20px;
  color:white;
  font-weight: 500;
  margin-left: 15px;
}

.GraycorSouthern:hover p{
  font-size: 20px;
  font-weight: bold;
  margin-left: -10px;
  color:white;
  margin-left: 2px;
}





.drop{
  position: relative;
}


@font-face {
  font-family: helvetica;
  src: url(../../assets/fonts/HelveticaNeueLTStd-Bd.otf);
  font-weight: bold;
}
@font-face {
  font-family:Lubalin;
  src: url(../../assets/fonts/LubalinGraphStd\ Demi.otf);
  font-weight: bold;
}

@font-face{
  font-family:LubalinStd;
  src:url(../../assets/fonts/LubalinGraphStd\ Book.otf)
}


