
.mainContainer {  
  display: grid;
  grid-template-areas:
  'row1'
  'row2'
  'row3'
  'row4'
  'row5'
  'row6';
  grid-gap: 10px;
  width: 101px;
  text-align: right;
  /* padding-left: 1px; */
  grid-template-columns: 100px;
}
.mainContainer  div[role=button]{
  padding-right: 5px;
}

 /* .void1 {
  grid-area: void;
  font-size: 16px;
}  */

.row1Data {
  grid-area: row1;
  font-size: 16px;
}

.row2Data {
  grid-area: row2;
  font-size: 16px;
}

.row2Datatotal {
  grid-area: row2;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
  /* width:115%; */
}

.row3Data {
  grid-area: row3;
  font-size: 16px;
  /* text-align: right; */
}

.row4Data {
  grid-area: row4;
  font-size: 16px;
  /* text-align: right; */
  border-bottom: solid;
  border-width: 1px;
}


 .row4DataNB {
  grid-area: row4;
  font-size: 16px;
  width: 114%;
} 

 .row3DataNV {
  grid-area: row3;
  font-size: 16px;
  visibility: hidden;
}  

.row4DataNV {
  grid-area: row4;
  font-size: 16px;
  border-bottom: solid;
  border-width: 1px;
  visibility: hidden;
} 

 .row5Data {
  grid-area: row5;
  font-size: 16px;
} 

.row6Data {
  grid-area: row6;
  font-size: 16px;
} 