.headerroot {
  height: 48px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.brandContainer,
.link {
  vertical-align: top;
}

.brandContainer {
  height: inherit;
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  width: 120px;
  background-color: #fdb924;
}

.imageIcon {
  width: 122px;
  padding-top: 5px;
}

.brandContainer > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.75em;
  height: inherit;
}

.linkContainer {
  display: inline-block;
  position: relative;
  text-align: center;
  height: inherit;
  color:white;
  word-spacing: 0px

}

.link {
  display: inline-block;
  height: inherit;
  padding-top: 9px;
  text-decoration: none;
  color: white;
}

.linkText {
  vertical-align: sub;
  text-transform: uppercase;
  font-size: 15px;
}

.activeLink {
  font-weight: 600;
}

.bottomSpacer {
  width: 80px;
  margin: auto;
  height: 4px;
  position: relative;
  bottom: 13.1px;
  background-color: #bc0029;
}

.logoutButton {
  position: absolute;
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
  right: 10px;
  width: 120px;
  height: 35px;
  border: 1px solid #373277;
  cursor: pointer;
  color:white;
  background-color: rgba(97, 94, 94, 0.8);
}
