/* .root {
  overflow-y: scroll;

} */

.loaderContainer {
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.GfrReport_root__-kgP2{

}
.loaderImageContainer {

    padding: 20px;

    padding: 20px;
    top: 50%;
    left: 50%;
    width: 50px;
    position: relative;

}

    .loader-image-container img {
        z-index: 9999;
    }

    .reportBodyContainer{
        min-width: 1882px;
    }
