/* stylelint-disable */

.t {
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -o-transform: scale(0.25);
  -ms-transform: scale(0.25);
  z-index: 2;
  position: absolute;
  white-space: pre;
  overflow: visible;
  font-family: Lubalin;
}

.s1_1 {
  font-size: 48.9px;
  font-family: 'LiberationSans-Bold_19', 'sans-serif';
  color: rgb(0, 0, 0);
}

.s2_1 {
  font-size: 41.6px;
  font-family: 'LiberationSans-Bold_19', 'sans-serif';
  color: rgb(0, 0, 0);
}

.s3_1 {
  font-size: 60px;
  font-family: 'LiberationSans_14', 'sans-serif';
  color: rgb(0, 0, 0);
}

.s4_1 {
  font-size: 34.8px;
  font-family: 'LiberationSans_14', 'sans-serif';
  color: rgb(0, 0, 0);
}

.s5_1 {
  font-size: 38.5px;
  font-family: 'LiberationSans-Bold_19', 'sans-serif';
  color: rgb(0, 0, 0);
}

.s6_1 {
  font-size: 34.8px;
  font-family: 'LiberationSans-Bold_19', 'sans-serif';
  color: rgb(0, 0, 0);
}

@font-face {
  font-family:Lubalin;
  src: url(../assets/fonts/LubalinGraphStd\ Demi.otf);
  font-weight: bold;
}