
.mainContainer {
  display: grid;
  grid-template-areas:
    'row1'
    'row2'
    'row3'
    'row4'
    'row5'
    'row6';
  grid-gap: 10px;
  width: 102px;
    text-align: right;
    padding-left: 0px;
}

.mainContainerNotVisible {
  display: grid;
  grid-template-areas:
    'row1'
    'row2'
    'row3'
    'row4'
    'row5'
    'row6';
  grid-gap: 10px;
  width: 110px;
  padding-left: 30px;
  visibility: hidden;
}

.void1 {
  grid-area: void;
  font-size: 16px;
  text-align: left;
}

.row1Data {
  grid-area: row1;
  font-size: 16px;
  text-align: right;
}

.row2Data {
  grid-area: row2;
  font-size: 16px;
  text-align: right;
}

.row3Data {
  grid-area: row3;
  font-size: 16px;
  text-align: right;
}

.row4Data {
  grid-area: row4;
  font-size: 16px;
  text-align: right;
  border-bottom: solid;
  border-width: 1px;

}

.row5Data {
  grid-area: row5;
  font-size: 16px;
  text-align: right;
}

.row6Data {
  grid-area: row6;
  font-size: 16px;
  text-align: right;
}

.greyBackground {
  background-color: none;
  height: 22px;
}
