.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 115px;
}

.t1_1 {
  padding-left: 5px;
  bottom: 837px;
  letter-spacing: -0.4px;
  word-spacing: 0.5px;
}

.t2_1 {
  padding-left: 10px;
  padding-top: 3px;
  bottom: 818px;
  letter-spacing: 0.1px;
  word-spacing: -0.1px;
  width: 300px;
  float:left;
}
.t2_2 {
  padding-left: 10px;
  padding-top: 3px;
  bottom: 818px;
  letter-spacing: 0.1px;
  word-spacing: -0.1px;
  width: 240px;
  float:left;
}

.t3_1 {
      float: left;
    padding-left: 78px;
    text-align: center;
    bottom: 801px;
    font-size: 45px;
    margin-left: 283px;
    word-spacing: -0.8px;
    width: 80%;
    margin-top:'40px';
    font-family:'Lubalin'
}

.t4_1 {
      text-align: right;
    padding-right:5px;
    letter-spacing: 0.1px;
    float: right;
    font-size: 25px;
    font-weight: bold;
    width: 80%;
}

.t5_1 {
  float: left;
    padding-left: 5px;
    bottom: 783px;
    letter-spacing: 0.1px;
    font-size: 30px;
}

.t6_1 {
  text-align: right;
  padding-right: 78px;
  letter-spacing: -2.9px;
}

.selectList{
  font-size: 13px;

}

.selectCompany {
  z-index: 104 !important;
}

.selectDivision {
  z-index: 103 !important;
}
.selectYear{
  z-index: 102 !important;
}
.selectMonth {
  z-index: 101 !important;
}
.selectLabel{
  float:left;
  width:100px;
  padding-top: 2%;
  font-weight: 400;
}
.radius{
  border-radius: 20px;
}
@font-face {
  font-family:Lubalin;
  src: url(../../assets/fonts/LubalinGraphStd\ Demi.otf);
  font-weight: bold;
}